<%- include('../partials/header') %> 
<%- include('../partials/navbar') %> 

<main class="conatiner">
   
    
    <div class="row">
        
        <div class="col-md-6 mx-auto" >
            <%- include('../partials/flash') %> 
            <h3 class="display-3">Login</h3>
           <form action="/login" method="post">
            <div class="mb-2">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Username">
            </div>
          
            <div class="mb-2">
                <label for="password"  class="form-label" >Password</label>
              <input type="password"  class="form-control" name="password" id="password" placeholder="Password">
            </div>
           
            <button type="submit" class="btn btn-success">Login</button>
        </form>
            </div>
          
    </div>
  
</main>


<%- include('../partials/footer') %> 