<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/" style="color:var(--main-color);">TechShed</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/p/Computers">Computers</a></li>
            <li><a class="dropdown-item" href="/p/Mobiles">Mobiles</a></li>
            <li><a class="dropdown-item" href="/p/Drones">Drones</a></li>
            <li><a class="dropdown-item" href="/p/Cameras">Cameras</a></li>
            <li><a class="dropdown-item" href="/p/Audio">Audio</a></li>
            <li><a class="dropdown-item" href="/p/Wearable-tech">Wearable Tech</a></li>
            <li><a class="dropdown-item" href="/p/T.V-appliances">T.V & Home Cinema</a></li>
            <li><a class="dropdown-item" href="/p/Sale">Sale</a></li>
            <li><a class="dropdown-item" href="/products">All Products</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/new">New</a>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <% if(!currentUser){ %> 
          <li class="nav-item">
            <a href="/register" class="nav-link">SignUp</a>
          </li>
  
          <li class="nav-item">
            <a href="/login" class="nav-link">Login</a>
          </li>
        <%} else {%>

          <li class="nav-item">
         
            <a href="/user/cart"  type="button" class="btn position-relative nav-link">
              <i class="fas fa-shopping-cart"></i>
              <span class="mt-2 position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              <%= currentUser.cart.length %> 
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">&nbsp;&nbsp;Logout</a>
          </li>


          <% } %> 
       
       
      </ul>
    </div>
  </div>
</nav>
