<%- include('../partials/header')%>
<%- include('../partials/navbar')%>

<main>

<section id="carouselExampleSlidesOnly  w-100" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img src="/images/BackgroundImg1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
      </div>
      <div class="carousel-item ">
        <img src="/images/BackgroundImg2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item ">
        <img src="/images/BackgroundImg3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="top-left">
          <h2 >
              Incredible Prices <br>on All Your<br> Favorite Items
          </h2>
          <p>Get more on less for selected brands.</p>
          <button type="button" class="btn" style="background-color: var(--main-color);color:white">Shop Now</button>
      </div>
      
    </div>
  </section>

<section class="container-fluid hero ">
    <div class="mx-auto row w-100" >
        <div class="col-6" style="height: 100%;">
            <img src="/images/MobileImg1.webp" class="w-100" alt="">
            <div class="top-left-mb">
                <p>Holiday Deals</p>
                <h2 class="display-2">
                    Up to<br> 30% Off
                </h2>
                <p >Get more on less for selected brands.</p>
                <button type="button" class="display-4 btn" style="background-color: white;color:black">Shop Now</button>
            </div>
        </div>
        <div class="col-6" style="height: 100%;">
            <img src="/images/HeadphoneImg1.webp" class="w-100" alt="">
            <div class="top-left-headphone">
                <p >Just In</p>
                <h2 class="display-3">
                    Take Your<br> Sound<br>Anywhere.
                </h2>
                <p >Top headphone Brands.</p>
                <button type="button" class="btn" style="background-color: white;color:balck">Shop Now</button>
            </div>
        </div>
      
    </div>




<section class=" container-fluid jumbo w-100">
    <div class="d-flex align-items-start justify-content-evenly jumbotron1 w-100">
        <div class="icon1">
            <i class="fas fa-truck-pickup  display-4 ml-3"></i><br>
              Curb-side pickup
        </div>
        <div class="icon2">
            <i class="fas fa-shipping-fast display-4 ml-3"></i><br>
            Free shipping on orders over $50

        </div>
        <div class="icon3">
            <i class="fas fa-dollar-sign display-4 ml-3"></i><br>
             Low prices guaranteed
        </div>
        <div class="icon4">
            <i class="far fa-clock display-4 ml-3"></i><br>
            Available to you 24/7  
        </div>
    </div>


</section>


<section class="all-products mt-4 p-5 mx-auto container-fluid">
      <h3 class="text-center display-5">Shop By Category</h3>
      <br>
    <div class="d-flex align-items-start justify-content-evenly  w-100">
        <div class="computers" style="border:1px solid #ccc;" class="w-5">
            <img src="./images/computers.webp"   class="w-100"   alt=""><br>
             <p class="text-center" >
             
              <a href="/p/Computers" >Computers</a>
         
                </p> 
        </div>
        <div class="mobiles" style="border:1px solid #ccc;" class="w-5">
            <img src="./images/mobiles.webp"  class="w-100"  alt=""><br>
            <p class="text-center" > 
                <a href="/p/Mobiles" >Mobiles</a>
            </p> 

        </div>
        <div class="headset" style="border:1px solid #ccc;" class="w-5">
            <img src="./images/headset.webp"  class="w-100" alt=""><br>
            <p class="text-center" > 
                <a href="/p/Headset" >Headset</a>
            </p> 

        </div>
      
        <div class="earbuds" style="border:1px solid #ccc" class="w-5">
            <img src="./images/earbuds.webp"  class="w-100" alt=""><br>
            <p class="text-center" >
            <a href="/p/Earbuds" >Earbuds</a>
           </p> 
        </div>
        <div class="drones" style="border:1px solid #ccc;" class="w-5">
            <img src="./images/drones.webp"  class="w-100"  alt=""><br>
            <p class="text-center" > 
                <a href="/p/Drones" >Drones</a>
            </p> 
        </div>
      
        
    </div>
    <div class="d-flex align-items-start justify-content-evenly mt-2 w-100">
        <div class="computers" style="border:1px solid #ccc;" class="w-5">
            <img src="./images/computers.webp"   class="w-100"  alt=""><br>
             <p class="text-center" > Computers</p> 
        </div>
        <div class="mobiles" style="border:1px solid #ccc;" class="w-5">
            <img src="./images/mobiles.webp"  class="w-100" alt=""><br>
            <p class="text-center" > Mobiles</p> 

        </div>
        <div class="headset" style="border:1px solid #ccc;" class="w-5">
            <img src="./images/headset.webp"  class="w-100" alt=""><br>
            <p class="text-center" > Mobiles</p> 

        </div>
      
        <div class="earbuds" style="border:1px solid #ccc" class="w-5">
            <img src="./images/earbuds.webp"  class="w-100"  alt=""><br>
            <p class="text-center" > Tablets</p> 
        </div>
        <div class="drones" style="border:1px solid #ccc;" class="w-5">
            <img src="./images/drones.webp"  class="w-100" alt=""><br>
            <p class="text-center" > Drones & Cameras</p> 
        </div>
      
        
    </div>
    </section>



 

    <section class=" sales-section">
        <div class="sales-container">
            <div class="sales-image-container">
                <img src="/images/sale.webp"  >
            </div>
            <div class="sales-text-container">
               <div>
                <h2 class="display-5"> Save up to</h2> 
                <h1 class="display-5"> $150 </h1>    
                <h2  class="display-5">on selected  brands</h2> 
                <p>*Terms and Conditions Apply</p>
                <button type="button" class="btn btn-primary" btn-large>Shop Now</button>
            </div>
            </div>
        </div>


    </section>











     
 <section> 
     <div class="jumbotron mt-4 p-5 ">
  
    <form action="#" class="d-flex align-items-start justify-content-evenly  row m-2 w-100" >
        <div class=" col-lg-9 p-3">
            <h3 >Newsletter</h3>
            <p class="lead">Sign up to receive updates on new arrivals and special offers</p>
             <label for="exampleFormControlInput1" class="form-label "></label>
             <input type="email"  class="form-control" id="exampleFormControlInput1" placeholder="Provide your email here"><br>
             <button type="button" class=" btn btn-outline-light  ">Submit</button>
       </div>
        <div class="col-lg-3 ">
            <img src="/images/mail-sent.svg" class="w-40 float-right mail-sent" alt="">
        </div>

    </form>
    </div>
</section>

   
   






<%-include('../partials/footer')%>
</section>







</main>

